# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 71723c58b2afbf92b68b9a51631d697fa841a6208d6da0a6205297600b282b16b29df34c9497bf72f2deba8ecd00eff22bca597bdd09f47321b43146b2bd4f73
  secret_key_access: admin
  secret_key_password: 123456
  secret_redis_url: redis://localhost:6379/5
  secret_url_fire_base: localhost
  secret_key_fire_base: 123123123123
test:
  secret_key_base: 16cbed3ad3bd00da41e358ebcc5b14a79d48428b1bbc848b65b87ff00e60be0d01b2e17df3815dc0ed0ba13a8c693c8f8fdb4cac3cf1b70f44972c4b341bea40
  secret_key_access: admin
  secret_key_password: 123123123123
  secret_redis_url: redis://localhost:6379/5
  secret_url_fire_base: localhost
  secret_key_fire_base: 123123123123

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  secret_key_access: <%= ENV["SECRET_KEY_ACCESS"] %>
  secret_key_password: <%= ENV["SECRET_KEY_PASSWORD"] %>
  secret_redis_url: <%= ENV["REDISTOGO_URL"] %>
  secret_url_fire_base: <%= ENV["SECRET_URL_FIRE_BASE"] %>
  secret_key_fire_base: <%= ENV["SECRET_KEY_FIRE_BASE"] %>
